body{
    background-color: rgb(255, 166, 0);
    height: 100%;
    margin: 200px auto;
    width: 100%;
}

.container{
    height: 150px;
    width: 900px;
    border-radius: 30px;
    margin: auto;
    padding: 50px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

.btn:hover{
    cursor: pointer;
}

#red{
    background-color: rgba(255, 0, 0, 0.715);
}

#blue{
    background-color: rgba(0, 0, 255, 0.678);
}

#green{
    background-color: rgba(0, 128, 0, 0.596);
}

#black{
    background-color: black;
}

#yellow{
    background-color: rgb(255, 166, 0);
}